<div class="background">
  <div class="border">

    <div class="container min-height-full-screen">
      <div class="row justify-content-center">
        <div class="col-4 col-md-6 col-lg-8">
          <form action="/meubles/filter" method="post">
            <h2 class="text-center m-5">Filter your search</h2>
            <%= simple_form_for(@meuble) do |f| %>
              <%= f.input :category, collection: Meuble::CATEGORIES, label: false, prompt: 'category' %>
              <%= f.input :daily_rate, label: false, placeholder: 'daily_rate' %>
              <%= f.submit class:'btn btn-flat my-btn-navbar', value:'Search' %>
            <% end %>
          </form>
        </div>
      </div>
    </div>

    <div class="container p-4">
      <div class="row d-flex justify-content-center">
        <% @meubles.each do |meuble| %>
          <div class="cards grow d-flex justify-content-between col-xs-3 col-md-4 m-2 p-2">
            <div class="d-flex flex-column">
              <%= link_to meuble_path(meuble) do  %>
              <p><strong><%= meuble.name %></strong></p>
              <p><%= meuble.daily_rate %> Euros</p>
              <p><%= meuble.category %></p>

            </div>
            <div class="d-flex align-items-center justify-content-center">
               <%= cl_image_tag meuble.photos.first.key, height: 150, width: 150, crop: :fill if meuble.photos.first %>
            </div>
          </div>
        <% end %>
        <% end %>
      </div>
    </div>

    <div class="container p-2 mt-5">
      <div class="row d-flex justify-content-start pb-4">
        <a href="/meubles"><div class="forfooter btn btn-flat my-btn-navbar d-block">Back to Index</div></a>
      </div>
    </div>

  </div>


</div>

