<div class="card">
  <div class="container p-4">
    <div class="row justify-content-center">
      <div class="col-6 col-md-8 col-lg-10">
      <%= simple_form_for(@meuble) do |f| %>
        <%= f.input :category, collection: Meuble::CATEGORIES %>
        <%= f.input :height %>
        <%= f.input :width %>
        <%= f.input :length %>
        <%= f.input :daily_rate %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit "Add a new furniture", class: "btn btn-primary" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
