<div class ="background-new">
  <div class="container">
    <div class="background-form mt-3 mb-3 col-12 col-lg-6">
      <%= simple_form_for(@meuble) do |f| %>
        <div class="pt-3">
          <h2>Create your furniture</h2>
              <%= f.input :category, collection: Meuble::CATEGORIES, prompt: 'Choose a category', label: false %>
              <%= f.input :name, placeholder: 'name', label: false %>
        </div>
        <div class="form-row align-self-stretch">
          <div class="col-4 ">
              <%= f.input :height, placeholder: 'height', label: false %>
          </div>
          <div class="col-4">
            <%= f.input :width, placeholder: 'width', label: false %>
          </div>
          <div class="col-4">
            <%= f.input :length, placeholder: 'length', label: false %>
          </div>
          </div>

          <div class="pb-3">
                <%= f.input :daily_rate, placeholder: 'Price', label: false %>
                <%= f.input :description, placeholder: 'Description', label: false %>
                <%= f.input :photo, label: false %>
                <%= f.submit "Add a new furniture", class: "btn btn-flat my-btn-navbar", label: false %>
          </div>
      <% end %>
    </div>
  </div>
</div>












