<div class="background p-4 mt-2">
  <div class="container mt-2">
    <div class="container card-container mt-2">
      <div class="row">

<div class="container mt-2">
  <div class="container card-container mt-2">
    <div class="row">

    <div class="furniture-pic col-6">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
           <% @meuble.photos.each_with_index do |photo, index| %>
              <div class="carousel-item <%= 'active' if index==0 %>">
                <%= cl_image_tag photo.key, height: 250, width: 400, crop: :fill %>
              </div>
              <% end %>

        </div>
      </div>

        <div class="furniture-description col-6">
          <h1><%= @meuble.name %></h1>
          <p><%= @meuble.description %></p>
          <p><%= "#{@meuble.height}, #{@meuble.width}, #{@meuble.length}" %></p>
          <p><%= @meuble.daily_rate %>€</p>


          <div class="container">
            <div class="form-wrapper">
              <%= simple_form_for([@meuble, Location.new]) do |t| %>
              <%= t.input :end_date, as: :string, input_html: { class: "datepicker" }, label: "Date" %>
              <%= t.submit "Go", class: 'btn btn-primary '%>
            <% end %>
            </div>

        </div>

        <a href="/meubles"><div class="btn btn-primary m-4"> Back </div></a>

      </div>

      </div>
    </div>
  </div>
</div>



