<div class="background p-4 mt-2">
  <div class="container mt-2">
    <div class="container card-container mt-2">
      <div class="row">

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

        </div>
        <div class="furniture-pic col-6">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">

              <% @meuble.photos.each_with_index do |photo, index| %>
                <div class="carousel-item <%= 'active' if index==0 %>">
                  <%= cl_image_tag photo.key, height: 350, width: 500, crop: :fill %>
                </div>
              <% end %>


            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>

        <div class="furniture-description col-6">
          <%#= cl_image_tag @meuble.photo.key, height: 300, width: 400, crop: :fill  %>
          <%#= image_tag "home.jpg", height: 300, width: 400, alt: "alttext" %>
          <h1><%= @meuble.name %></h1>
          <p><%= @meuble.description %></p>
          <p><%= "#{@meuble.height}, #{@meuble.width}, #{@meuble.length}" %></p>
          <p><%= @meuble.daily_rate %>€</p>
          <!--       <button type="button" class="btn btn-secondary btn-lg">Lock</button> -->

            <div class="form-wrapper">
              <%= simple_form_for([@meuble, Location.new]) do |t| %>
                <%#= t.input :start_date, input_html: { class: "datepicker" } %>
                <%= t.input :end_date, as: :string, input_html: { class: "datepicker" }, label: "Date" %>
                <%= t.submit "Go", class: 'btn btn-flat my-btn-navbar'%>
              <% end %>
            </div>

        </div>

        <a href="/meubles"><div class="btn btn-flat my-btn-navbar m-4"> Back </div></a>

      </div>
    </div>
  </div>
</div>



